In [1]:
import pandas as pd
import csv
csv_path = './census_data.csv'
csv_path2= './finalfinaldata.csv'

In [2]:
crime_df = pd.read_csv(csv_path2)
census_df= pd.read_csv(csv_path)

In [6]:
mergedf = crime_df.merge(census_df,how = 'outer', left_on = 'zipcode', right_on = 'Zipcode')

In [31]:
groupedf = mergedf.groupby(['Crime Type']).count()

groupedf.head()

,Unnamed: 0,Index,Date/Time,Date,Time,Status,Address,crime num,Committed/Attempted,Area Type,...,Map,Lattitude,Longitude,zipcode,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate
Crime Type,,,,,,,,,,,,,,,,,,,,,
Assault,88,88,88,88,88,88,88,88,88,88,...,88,88,88,88,71,71,71,71,71,71
Burglary,145,145,145,145,145,145,145,145,145,145,...,145,145,145,145,115,115,115,115,115,115
Fraud,82,82,82,82,82,82,82,82,82,82,...,82,82,82,82,66,66,66,66,66,66
Homicide,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,1,1,1,1,1,1
Narcotics,87,87,87,87,87,87,87,87,87,87,...,87,87,87,87,75,75,75,75,75,75

In [32]:
mergedf.head()

,Unnamed: 0,Index,Date/Time,Date,Time,Status,Address,crime num,Crime Type,Committed/Attempted,...,Map,Lattitude,Longitude,zipcode,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate
0,862,168425.0,2013-09-09T01:30:00.000,9/9/2013,1:30:00,Arrest,100 W PINE ST,2013-00375675,Narcotics,Committed,...,Mapped,28.54128239,-81.38128806,32801,32801.0,11237.0,37.4,47151.0,40726.0,18.430186
1,1685,169248.0,2015-03-08T03:56:00.000,3/8/2015,3:56:00,Arrest,1 W PINE ST,2015-00097645,Assault,Committed,...,Mapped,28.54129173,-81.37990739,32801,32801.0,11237.0,37.4,47151.0,40726.0,18.430186
2,774,168337.0,2010-04-16T10:21:00.000,4/16/2010,10:21:00,Closed,500 S EOLA DR,2010-00178080,Assault,Committed,...,Mapped,28.53575272,-81.36972341,32801,32801.0,11237.0,37.4,47151.0,40726.0,18.430186
3,1147,168710.0,2013-11-01T17:05:00.000,11/1/2013,17:05:00,Closed,100 E CENTRAL BV,2013-00458730,Theft,Committed,...,Mapped,28.54215588,-81.37667052,32801,32801.0,11237.0,37.4,47151.0,40726.0,18.430186
4,210,167773.0,2014-04-23T03:34:00.000,4/23/2014,3:34:00,Arrest,1 W PINE ST,2014-00167215,Theft,Committed,...,Mapped,28.54129173,-81.37990739,32801,32801.0,11237.0,37.4,47151.0,40726.0,18.430186

In [ ]:
DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, 
                right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)